{% extends "phrf/base.html" %}
{% block content %}
    <p>
        PHRF Application (PDF): <a href="http://phrf-lakelanier.com/Docs/PHRFApplication.pdf">PDF File</a><br/>
        PHRF Application (Word): <a href="http://phrf-lakelanier.com/Docs/PHRFApplication.docx">Word File</a><br/>
        PHRF Adjustments Document: <a href="http://phrf-lakelanier.com/Docs/LLPHRFadjustments.pdf">PDF File</a><br/>
        PHRF Definitions Document: <a href="http://phrf-lakelanier.com/Docs/LLPHRF_Definitions.pdf">PDF File</a>
    </p>
{% endblock %}
