{% extends "phrf/base.html" %}
{% block content %}
    <div class="text-center">
        <h2>Lake Lanier Performance Handicap<br/>
            Racing Fleet Regulations</h2>
    </div>
    <p></p>
    <h3>Performance Handicapping</h3>
    <p>PHRF (Performance Handicap Racing Fleet) describes a fleet of sailboats of varying sizes and speeds handicapped
        for racing on the basis of observed performance, rather than measured dimensions. The purpose of the PHRF System
        is to handicap boats of various classes or types on the basis of the potential speed of a well sailed, well
        maintained and well equipped boat of each type. It is not the purpose of the PHRF System to handicap skippers
        and crews based on their level of sailing skill.</p>
    <p>PHRF is open to any mono-hull, self righting sailboat equipped with auxiliary in- or outboard propulsion. PHRF
        may be open to multi-hull boats when approved by the committee on a case by case basis. Its goal is to provide
        fair and equitable racing for as many boats as possible. However where a boat is of so radical a design that any
        rating assigned to it would impair the rating balance of the Fleet as a whole, a handicap may be refused.</p>
    <p>The PHRF handicaps are assigned by the PHRF Committee. The Committee meets at least once a quarter throughout the
        year for the purpose of assigning new ratings, reviewing old ones, drafting or revising regulations and
        transacting any other business appropriately before it.</p>
    <p>Since no handicapping system will adequately rate all types of boats on all points of sail and in all wind and
        sea conditions, the Committee will assign ratings for typical conditions on Lake Lanier, with wind speeds of
        approximately 5 to 10 knots.</p>
    <h3>PHRF Procedures</h3>
    <p>Applicants should complete a rating application, which can be downloaded from the LLPHRF website. The form should
        be mailed with the appropriate fee to the LLPHRF mailing address. The application and fee may also be given to
        one of the PHRF Committee members. The application will be reviewed and a rating assigned by the PHRF Committee
        at its next meeting. The rating will be posted on the LLPHRF website. </p>
    <p>If an imminent regatta requires the applicant to have a rating before the Committee can meet, any Committee
        member is empowered, but not obliged, to issue a provisional rating, valid for all purposes until the next
        Committee meeting. At that meeting, the provisional rating will be reviewed and accepted or changed by the
        Committee.</p>
    <h3>Rating Review/Appeal</h3>
    <p>There is no such thing as a ‘final’ PHRF rating. Any rating may be reviewed and changed at any PHRF Committee
        meeting without notice to the skipper. If, based on observed performance, the Committee believes that the rating
        of a boat or type of boat does not fairly reflect potential speed, it will change the rating. While changes to
        long-established ratings are seldom, new boat ratings, particularly those where little data is available, are
        likely to be changed as experience accumulates.</p>
    <p>Any PHRF certificate holder can appeal their or another boat’s rating by submitting an appeal in writing to any
        member of the Committee. The letter will be more effective if it details performance relative to other boats on
        various points of sail and in various wind speeds. Information of this kind is more useful than race results,
        since race results are influenced by many factors other than boat speed. The Committee will consider appeals it
        receives at the next scheduled meeting, or may choose to schedule a special meeting to consider appeals. After
        the presentation of pertinent information, the Committee will review the facts in closed session and notify the
        persons directly involved in the appeal of its findings within one week.</p>
    <p>If, after a local appeal, a PHRF certificate holder feels that they have not been fairly treated by the
        Committee, they may bring their complaint before the US-PHRF Appeals Committee.</p>
    <p>The effective date of any rating change made at a PHRF meeting is the first Friday following that meeting. If
        this results in a boat’s rating being changed during a Club’s series, the rating to be used for that series is
        at the discretion of the Race Committee of the sponsoring Club.</p>
    <h3>PHRF Regulations</h3>
    <p>The base rating is the rating assigned to a standard boat of a class or type. It assumes the standard rig
        dimensions for the class, a genoa with LP dimension in the range 145.1% to 155.0% of J, a folding propeller if
        exposed or a two bladed solid one if in an aperture. If auxiliary propulsion is by outboard engine, it assumes
        the engine is dismounted and stowed in an optimum location when racing. It assumes that the spinnaker pole
        length (SPL) is equal to the width of the base of the fore triangle (J) and that the maximum girth (SMG) of the
        spinnaker at any point is in the range of 168.1% to 183.0% of J. Finally, it assumes that the boat is in all
        other respects similar to the standard boat of its type as originally supplied by the manufacturer. The PHRF
        Committee may require the boat to be measured to verify these assumptions.</p>
    <p>Departures from the base rating assumptions due to differences in genoa and spinnaker size, propeller type, etc.
        can be determined from the attached tables, Lake Lanier PHRF Standard Handicap Adjustments. Variations affecting
        performance not listed in these tables require review by the Committee at a meeting.</p>
    <p>Certain boats are identified as a One-Design Rig (ODR) class. ODR classes are sold with standard rigs, which may
        not conform to the base handicap assumptions. For example an overlength spinnaker pole is standard on a J-22.
        ODR boats raced in their one-design class configuration are handicapped as though they meet the base handicap
        assumptions and are not further penalized for overlength poles etc., provided that they conform to their
        one-design class rig dimensions.</p>
    <h3>Annual Declaration of LP</h3>
    <p>The LP dimension declared for a yacht at the time her certificate was issued or renewed must remain in effect for
        the duration of the year for which that certificate was issued. Rating changes resulting from changes in the LP
        dimension can therefore be made only once a year, except upon written application to the PHRF Committee stating
        the reasons for the change. Such applications will not be approved if the Committee finds that the proposed
        change is an attempt to fine-tune the yacht’s rating for anticipated weather conditions in any specific race,
        series or time of year.</p>
    <h3>Sail Measurement Limitations</h3>
    <p>The rating assigned by the PHRF Committee assumes that sail dimensions not specifically stated on the certificate
        conform either to the limitations of the yacht’s class or to limitations standard in all measurement rules. Any
        departure from these limitations is considered a change, notice of which must be given to the Committee.</p>
    <p>In the case of yachts not belonging to a one design class:</p>
    <ol>
        <li>Mainsail headboard width may not exceed the greater of 6 inches or 4% of E.</li>
        <li>Mainsails and mizzens may have no more than five battens, approximately evenly spaced along the leech. Full
            length battens are permitted.
        </li>
        <li>Symmetrical spinnaker luff length (SL) may not exceed 95% of the square root of the sum of I squared plus JC
            squared. (JC being the greater of J, SPL or G divided by 1.8).
        </li>
        <li>Symmetrical Spinnaker Maximum Width (SMW or G (Girth)) shall not exceed 1.8 x J.</li>
        <li>Asymmetrical Spinnaker luff length (SLU) shall not exceed 1.15 times the square root of (Ic squared + Jc
            squared).
        </li>
        <li>Asymmetrical Spinnaker Foot (SF) shall not exceed 1.8 x Jc.</li>
        <li>Asymmetrical Spinnaker Maximum Width (ASMW or G (Girth)) shall not exceed 1.8 x Jc.</li>
        <li>Asymmetrical Spinnaker ASMW/SF ratio shall be equal to or greater than 0.75.</li>
        <li>A sail may not be measured or used as a jib unless its mid girth does not exceed 50% of its foot and the
            length of any intermediate girth does not exceed a value similarly proportionate to its distance from the
            head of the sail.
        </li>
    </ol><h3>Proper Racing Trim</h3>
    <p>Yachts shall race as rated with at least all the equipment and furnishings supplied as standard by the
        manufacturer. A yacht which has altered or removed bulkheads, permanently attached furniture or structural
        interior components shall be considered a custom yacht and rated accordingly. If standard components such as
        drawers, headliners, cabinet and locker doors, steps, ladders and engine enclosures are removed, the yacht will
        be considered a custom yacht. Passageway doors, cushions, dining tables and carpet are specifically exempted and
        are alterable or removable, provided all safety standards are met.</p>
    <h3>Owner’s Obligation to Disclose Alterations</h3>
    <p>Since PHRF ratings are based on information supplied to the PHRF Committee by the owner, the success of the
        programme is dependent on the integrity of the participants. In signing an application for a rating or renewal,
        the owner attests to the accuracy of the information supplied and undertakes to notify the Committee promptly of
        any subsequent changes in his boat which may be relevant to its performance. If a protest hearing establishes
        that an owner has failed to comply with these requirements, this will invalidate his certificate. The Committee
        may then revoke his certificate, retroactively where appropriate. In a flagrant case, the Committee may suspend
        the owner’s privilege to participate in any races sponsored by the LLPHRF member Clubs for a period of one
        year.</p>
    <h3>The PHRF Committee</h3>
    <p>The PHRF Committee is made up of a member of the PHRF fleet of each member club, nominated by that club, a
        Secretary/Treasurer, up to two Members at Large and a Chief Measurer. The names, addresses and telephone numbers
        of all the members of the current PHRF Committee are posted on the LLPHRF website. All of the committee members
        are working to make the PHRF programme a success. Feel free to call on any of them for advice or help when you
        need it.</p>
    <p>The Secretary/Treasurer, Chief Measurer and the Members at Large are elected by the member club representatives
        of the committee at the last meeting of the calendar year. They are selected from nominees presented by the
        member club representatives. They will be elected to serve a one year term and may serve more than one term if
        re-elected. A majority vote is required to elect the Secretary/Treasurer, Chief Measurer and the Members at
        Large and a majority plus one of the Committee members must be present at the time of the vote.</p>
{% endblock %}
